.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.InsertForm {
  padding: 5% 5% 0 5%;
}

.form-title {
  font-size: 1.5rem !important;
  color: aliceblue !important;
}

.InsertFormField {
  display: flex;
  align-items: center;
  margin: 1rem 0rem !important;
}

.InsertFormFieldLabel {
  color: aliceblue;
  margin: 0rem 1.1rem;
  width: 4rem;
}

.EventsTable {
  padding: 5% 5% 0 5%;
  background-color: #282c34;
}

.Middle {
  min-height: 88.3vh;
  display: flex;
  flex-direction: column;
}

.Footer {
  margin-top: auto;
}

.TableHeader {
  color: aliceblue;
}

.TableRow {
  color: aliceblue !important;
}